$darkBlue: #302846;
$buttonGreen: #40c14d;
$white: #ffffff;
$darkGray: #8d8d8d;
$ligthBlue: #483c76;
$backgroundGray: #eeeeee;
$ligthYellow: #f8fc3b;
$darkYellow: #e2e525;
$veryDarkYellow: #cdcf24;
$green: #4df572;
$blue: #35a4c7;
$red: #f44e4e;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundGray;
  font-family: "Inter", sans-serif;

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      width: 100%;
      height: 80px;
      background-color: $darkBlue;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: fixed;

      .header__createNote {
        width: 40%;
        height: 50px;
        background: $buttonGreen;
        border: none;
        outline: none;
        border-radius: 20px;
        color: $white;
        font-weight: bold;
        font-size: 16px;
      }

      .header__toggleCurrency {
        height: 80px;
        background: none;
        outline: none;
        border: none;
        color: $white;
      }

      .header__currency {
        width: 100%;
        padding: 30px;
        background: $darkBlue;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 0;
        transform: scale(0);
        transition: none;

        .header__title {
          margin-bottom: 20px;
          font-size: 18px;
          color: $white;
        }

        .header__currencyCodes {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          padding: 10px 0 10px 0;
          color: $white;
          font-weight: bold;
        }

        .header__currencyInfo {
          width: 100%;
          height: 80px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-radius: 10px;
          background-color: $ligthBlue;

          .header__result {
            width: 30%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $white;
            border-right: 2px solid $darkBlue;

            &:last-child {
              border: none;
            }
          }
        }
      }

      .scale {
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
      }
    }

    .modal {
      width: 90%;
      background: $darkYellow;
      position: fixed;
      top: 120px;
      border: 3px solid $darkBlue;
      transform: translateY(-200%);
      transition: none;

      .modal__close {
        width: 100%;
        height: 50px;
        text-align: right;

        i {
          width: 50px;
          background: $veryDarkYellow;
          text-align: center;
        }
      }

      .modal__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 400px;

        ::placeholder {
          text-align: center;
          color: $darkGray;
          font-size: 14px;
        }

        .modal__title {
          width: 80%;
          height: 40px;
          border: none;
          outline: none;
          text-align: center;
          color: $darkBlue;
          font-size: 18px;
        }

        .modal__note {
          width: 80%;
          border: none;
          outline: none;
          text-align: center;
          color: $darkBlue;
          font-size: 18px;
        }

        .modal__submit {
          width: 30%;
          height: 40px;
          background: $buttonGreen;
          border: none;
          outline: none;
          border-radius: 20px;
          color: $white;
          font-weight: bold;
          font-size: 16px;
        }

        .modal__colors {
          text-align: center;

          @mixin radioInput($bg) {
            background: $bg;
            appearance: none;
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 30px;
            height: 30px;
            border: 2px solid $darkBlue;
            border-radius: 50%;

            &:checked {
              opacity: 0.3;
            }
          }

          .modal__green {
            @include radioInput($green);
          }

          .modal__blue {
            @include radioInput($blue);
          }

          .modal__red {
            @include radioInput($red);
          }
        }
      }
    }

    .slide {
      transform: translateY(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
