@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: "Inter", sans-serif;
}

body .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .wrapper .header {
  width: 100%;
  height: 80px;
  background-color: #302846;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}

body .wrapper .header .header__createNote {
  width: 40%;
  height: 50px;
  background: #40c14d;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

body .wrapper .header .header__toggleCurrency {
  height: 80px;
  background: none;
  outline: none;
  border: none;
  color: #ffffff;
}

body .wrapper .header .header__currency {
  width: 100%;
  padding: 30px;
  background: #302846;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 80px;
  left: 0;
  transform: scale(0);
  transition: none;
}

body .wrapper .header .header__currency .header__title {
  margin-bottom: 20px;
  font-size: 18px;
  color: #ffffff;
}

body .wrapper .header .header__currency .header__currencyInfo {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #483c76;
}

body .wrapper .header .header__currency .header__currencyInfo .header__result {
  width: 30%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  border-right: 2px solid #302846;
}

body .wrapper .header .header__currency .header__currencyInfo .header__result:last-child {
  border: none;
}

body .wrapper .header .scale {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

body .wrapper .modal {
  width: 90%;
  background: #e2e525;
  position: fixed;
  top: 120px;
  border: 3px solid #302846;
  transform: translateY(-200%);
  transition: none;
}

body .wrapper .modal .modal__close {
  width: 100%;
  height: 50px;
  text-align: right;
}

body .wrapper .modal .modal__close i {
  width: 50px;
  background: #cdcf24;
  text-align: center;
}

body .wrapper .modal .modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
}

body .wrapper .modal .modal__form ::placeholder {
  text-align: center;
  color: #8d8d8d;
  font-size: 14px;
}

body .wrapper .modal .modal__form .modal__title {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  text-align: center;
  color: #302846;
  font-size: 18px;
}

body .wrapper .modal .modal__form .modal__note {
  width: 80%;
  border: none;
  outline: none;
  text-align: center;
  color: #302846;
  font-size: 18px;
}

body .wrapper .modal .modal__form .modal__submit {
  width: 30%;
  height: 40px;
  background: #40c14d;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

body .wrapper .modal .modal__form .modal__colors {
  text-align: center;
}

body .wrapper .modal .modal__form .modal__colors .modal__green {
  background: #4df572;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 30px;
  height: 30px;
  border: 2px solid #302846;
  border-radius: 50%;
}

body .wrapper .modal .modal__form .modal__colors .modal__green:checked {
  opacity: 0.3;
}

body .wrapper .modal .modal__form .modal__colors .modal__blue {
  background: #35a4c7;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 30px;
  height: 30px;
  border: 2px solid #302846;
  border-radius: 50%;
}

body .wrapper .modal .modal__form .modal__colors .modal__blue:checked {
  opacity: 0.3;
}

body .wrapper .modal .modal__form .modal__colors .modal__red {
  background: #f44e4e;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 30px;
  height: 30px;
  border: 2px solid #302846;
  border-radius: 50%;
}

body .wrapper .modal .modal__form .modal__colors .modal__red:checked {
  opacity: 0.3;
}

body .wrapper .slide {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
